body{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

.all{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

img{
    position: relative;
    width: 200px;
    height: 200px;
    animation: begin 2s ease-in-out forwards;
    opacity: 0;
}

.introduction{
    position: relative;
    width: 72%;
    left: 14%;
    font-size: large;
    animation: intro 2s ease-in-out forwards;
}

.all h1{
    animation: intro 2s ease-in-out forwards;
}

.all h4{
    position: relative;
    top: -120px;
    animation: mail 3s ease-in-out forwards;
}

.social{
    position: relative;
    display: flex;
    justify-content: space-around;
    animation: social 3s ease-in-out forwards;
}

.social a{
    transition: .6s;
}

.social a:hover{
    transform: translate(0,-20px);
}

svg{
    vertical-align: middle;
}

a{
    color: grey;
}

a:link{
    text-decoration: none;
    
}

a:hover{
    color: black;
}

.social .try{
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    top: 10px;
}

a .bg{
    position: relative;
    background-color: black;
    width: 100px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
    color: white;
    border-radius: 10%;
}

.all .logo{
    position: relative;
    animation: logo 3s ease-in-out forwards;
    opacity: 0;
    animation-delay: 2s;
}

.social_svg{
    display: flex;
    justify-content: space-around;
}

@keyframes begin {
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0.5;
        transform: translateY(0px);  

    }

    100%{
        opacity: 1;
        transform: translateY(-90px);
        
    }

}

@keyframes intro {
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 0;
        transform: translateY(0px);

    }

    100%{
        opacity: 1;
        transform: translateY(-80px);
        
    }

}

@keyframes social {
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 0;
        transform: translateY(0px);
        
    }

    100%{
        opacity: 1;
        transform: translateY(-40px);
        
    }

}

@keyframes mail {
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 0;
        transform: translateY(0px);
 
    }

    100%{
        opacity: 1;
        transform: translateY(40px);
        
    }

}

@keyframes logo {
    0%{
        opacity: 0;
        
    }

    100%{
        opacity: 1;
        
    }

}